<div class="card">
  <div class="card-header">
    <h1 class="text-center">Users</h1>
  </div>
  <div class="card-body">
    <div class="description">
      <p class="text-center">Here you can see a list of our users.</p>
    </div>
    <table class="table table-bordered text-center">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>
          <button class="btn btn-success"
                  (click)="goToDetails(user.id)"
          >Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
